USE [master]
GO
/****** Object:  Database [RealTimeDB]    Script Date: 18/7/2019 1:31:03 PM ******/
CREATE DATABASE [RealTimeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RealTimeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RealTimeDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RealTimeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RealTimeDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RealTimeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RealTimeDB]
GO
/****** Object:  Table [dbo].[StockQuote]    Script Date: 18/7/2019 1:31:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockQuote](
	[Symbol] [varchar](10) NOT NULL,
	[Price] [numeric](18, 0) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_StockQuote] PRIMARY KEY CLUSTERED 
(
	[Symbol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[StockQuote] ([Symbol], [Price], [Name]) VALUES (N'a', CAST(15 AS Numeric(18, 0)), N't1')
INSERT [dbo].[StockQuote] ([Symbol], [Price], [Name]) VALUES (N'a1', CAST(100 AS Numeric(18, 0)), N't2')
INSERT [dbo].[StockQuote] ([Symbol], [Price], [Name]) VALUES (N'a2', CAST(100 AS Numeric(18, 0)), N't3')
USE [master]
GO
