USE [master]
GO
/****** Object:  Database [ContosoUniversity]    Script Date: 18/7/2019 1:43:02 PM ******/
CREATE DATABASE [ContosoUniversity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ContosoUniversity', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ContosoUniversity.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ContosoUniversity_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ContosoUniversity_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContosoUniversity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContosoUniversity]
GO
/****** Object:  User [stisdemo1]    Script Date: 18/7/2019 1:43:03 PM ******/
CREATE USER [stisdemo1] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [stisdemo]    Script Date: 18/7/2019 1:43:03 PM ******/
CREATE USER [stisdemo] FOR LOGIN [stisdemo] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [stisdemo1]
GO
ALTER ROLE [db_owner] ADD MEMBER [stisdemo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Course]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Credits] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CourseInstructor]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseInstructor](
	[CourseID] [int] NOT NULL,
	[InstructorID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Budget] [money] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[InstructorID] [int] NULL,
	[RowVersion] [timestamp] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[EnrollmentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[Grade] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonthPlan]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthPlan](
	[MonthPlanID] [nvarchar](128) NOT NULL,
	[MonthOf] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonthPlanDetail]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthPlanDetail](
	[MonthPlanDetailID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Schedule_ScheduleID] [nvarchar](128) NULL,
	[MonthPlan_MonthPlanID] [nvarchar](128) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OfficeAssignment]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfficeAssignment](
	[InstructorID] [int] NOT NULL,
	[Location] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Person]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[ID] [int] NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[HireDate] [datetime] NULL,
	[EnrollmentDate] [datetime] NULL,
	[Discriminator] [nvarchar](128) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlayList]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayList](
	[PlayListID] [nvarchar](128) NOT NULL,
	[TemplateID] [nvarchar](max) NULL,
	[Duration] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlayListDetail]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayListDetail](
	[PlayListDetailID] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
	[Media_PlayMediaID] [int] NULL,
	[PlayList_PlayListID] [nvarchar](128) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlayMedia]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayMedia](
	[PlayMediaID] [int] NOT NULL,
	[MediaType] [int] NOT NULL,
	[FilePath] [nvarchar](max) NULL,
	[Duration] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleID] [nvarchar](128) NOT NULL,
	[SelectedTimeSlot_TimeSlotID] [nvarchar](128) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScheduleDetail]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleDetail](
	[ScheduleDetailID] [int] NOT NULL,
	[Schedule_ScheduleID] [nvarchar](128) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockQuote]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockQuote](
	[Symbol] [varchar](10) NOT NULL,
	[Price] [numeric](18, 0) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_StockQuote] PRIMARY KEY CLUSTERED 
(
	[Symbol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[TimeSlotID] [nvarchar](128) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TimeSlotDetail]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlotDetail](
	[TimeSlotDetailID] [int] NOT NULL,
	[SlotName] [nvarchar](max) NULL,
	[StartTime] [nvarchar](max) NULL,
	[EndTime] [nvarchar](max) NULL,
	[ActualStartTime] [nvarchar](max) NULL,
	[ActualEndTime] [nvarchar](max) NULL,
	[Duration] [nvarchar](max) NULL,
	[TimeSlot_TimeSlotID] [nvarchar](128) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TimeSlotPlayList]    Script Date: 18/7/2019 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlotPlayList](
	[TimeSlotPlayListID] [int] NOT NULL,
	[TimeSlotDetailID] [int] NOT NULL,
	[PlayList_PlayListID] [nvarchar](128) NULL,
	[ScheduleDetail_ScheduleDetailID] [int] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Course] ([CourseID], [Title], [Credits], [DepartmentID]) VALUES (1045, N'Calculus', 4, 3)
INSERT [dbo].[Course] ([CourseID], [Title], [Credits], [DepartmentID]) VALUES (1050, N'Chemistry', 3, 4)
INSERT [dbo].[Course] ([CourseID], [Title], [Credits], [DepartmentID]) VALUES (2021, N'Composition', 3, 2)
INSERT [dbo].[CourseInstructor] ([CourseID], [InstructorID]) VALUES (2021, 126)
INSERT [dbo].[CourseInstructor] ([CourseID], [InstructorID]) VALUES (2042, 126)
INSERT [dbo].[CourseInstructor] ([CourseID], [InstructorID]) VALUES (1045, 127)
INSERT [dbo].[Department] ([DepartmentID], [Name], [Budget], [StartDate], [InstructorID]) VALUES (1, N'Temp', 0.0000, CAST(N'2019-01-11 00:00:00.000' AS DateTime), 111)
INSERT [dbo].[Department] ([DepartmentID], [Name], [Budget], [StartDate], [InstructorID]) VALUES (2, N'English', 350000.0000, CAST(N'2007-09-01 00:00:00.000' AS DateTime), 126)
INSERT [dbo].[Department] ([DepartmentID], [Name], [Budget], [StartDate], [InstructorID]) VALUES (3, N'Mathematics', 100000.0000, CAST(N'2007-09-01 00:00:00.000' AS DateTime), 127)
INSERT [dbo].[Enrollment] ([EnrollmentID], [CourseID], [StudentID], [Grade]) VALUES (1, 1050, 118, 0)
INSERT [dbo].[Enrollment] ([EnrollmentID], [CourseID], [StudentID], [Grade]) VALUES (2, 4022, 118, 2)
INSERT [dbo].[Enrollment] ([EnrollmentID], [CourseID], [StudentID], [Grade]) VALUES (3, 4041, 118, 1)
INSERT [dbo].[MonthPlan] ([MonthPlanID], [MonthOf]) VALUES (N'PLN0001', N'012019')
INSERT [dbo].[MonthPlanDetail] ([MonthPlanDetailID], [Date], [Schedule_ScheduleID], [MonthPlan_MonthPlanID]) VALUES (1, CAST(N'2019-01-21 00:00:00.000' AS DateTime), N'LCS0001', N'PLN0001')
INSERT [dbo].[OfficeAssignment] ([InstructorID], [Location]) VALUES (111, NULL)
INSERT [dbo].[OfficeAssignment] ([InstructorID], [Location]) VALUES (127, N'Smith 17')
INSERT [dbo].[OfficeAssignment] ([InstructorID], [Location]) VALUES (128, N'Gowan 27')
INSERT [dbo].[Person] ([ID], [LastName], [FirstName], [HireDate], [EnrollmentDate], [Discriminator]) VALUES (1, N'test', N'test', NULL, CAST(N'2019-01-11 00:00:00.000' AS DateTime), N'Student')
INSERT [dbo].[Person] ([ID], [LastName], [FirstName], [HireDate], [EnrollmentDate], [Discriminator]) VALUES (2, N'test', N'test2', NULL, CAST(N'2019-01-11 00:00:00.000' AS DateTime), N'Student')
INSERT [dbo].[Person] ([ID], [LastName], [FirstName], [HireDate], [EnrollmentDate], [Discriminator]) VALUES (3, N'test', N'test3', NULL, CAST(N'2019-01-11 00:00:00.000' AS DateTime), N'Student')
GO
INSERT [dbo].[PlayList] ([PlayListID], [TemplateID], [Duration]) VALUES (N'PLY001', N'TMP001', 2)
INSERT [dbo].[PlayList] ([PlayListID], [TemplateID], [Duration]) VALUES (N'PLY002', N'TMP001', 2)
INSERT [dbo].[PlayListDetail] ([PlayListDetailID], [Sequence], [Media_PlayMediaID], [PlayList_PlayListID]) VALUES (1, 1, 3, N'PLY001')
INSERT [dbo].[PlayListDetail] ([PlayListDetailID], [Sequence], [Media_PlayMediaID], [PlayList_PlayListID]) VALUES (2, 2, 4, N'PLY001')
INSERT [dbo].[PlayListDetail] ([PlayListDetailID], [Sequence], [Media_PlayMediaID], [PlayList_PlayListID]) VALUES (3, 1, 6, N'PLY002')
INSERT [dbo].[PlayMedia] ([PlayMediaID], [MediaType], [FilePath], [Duration]) VALUES (3, 2, N'VID00000015.mp4', 5)
INSERT [dbo].[PlayMedia] ([PlayMediaID], [MediaType], [FilePath], [Duration]) VALUES (4, 1, N'PIC00000001.png', 5)
INSERT [dbo].[PlayMedia] ([PlayMediaID], [MediaType], [FilePath], [Duration]) VALUES (6, 2, N'VID00000004.mp4', 5)
INSERT [dbo].[Schedule] ([ScheduleID], [SelectedTimeSlot_TimeSlotID]) VALUES (N'LCS0001', NULL)
INSERT [dbo].[ScheduleDetail] ([ScheduleDetailID], [Schedule_ScheduleID]) VALUES (2, N'LCS0001')
INSERT [dbo].[ScheduleDetail] ([ScheduleDetailID], [Schedule_ScheduleID]) VALUES (3, N'LCS0001')
INSERT [dbo].[StockQuote] ([Symbol], [Price], [Name]) VALUES (N'TST', CAST(100 AS Numeric(18, 0)), N'Test')
INSERT [dbo].[StockQuote] ([Symbol], [Price], [Name]) VALUES (N'TST2', CAST(100 AS Numeric(18, 0)), N'Test')
INSERT [dbo].[TimeSlot] ([TimeSlotID]) VALUES (N'TSL0001')
INSERT [dbo].[TimeSlotDetail] ([TimeSlotDetailID], [SlotName], [StartTime], [EndTime], [ActualStartTime], [ActualEndTime], [Duration], [TimeSlot_TimeSlotID]) VALUES (1, N'Slot0001', N'0', N'480', N'00:00', N'08:00', NULL, N'TSL0001')
INSERT [dbo].[TimeSlotDetail] ([TimeSlotDetailID], [SlotName], [StartTime], [EndTime], [ActualStartTime], [ActualEndTime], [Duration], [TimeSlot_TimeSlotID]) VALUES (2, N'Slot0002', N'480', N'1080', N'08:00', N'18:00', NULL, N'TSL0001')
INSERT [dbo].[TimeSlotDetail] ([TimeSlotDetailID], [SlotName], [StartTime], [EndTime], [ActualStartTime], [ActualEndTime], [Duration], [TimeSlot_TimeSlotID]) VALUES (3, N'Slot0003', N'1080', N'1440', N'18:00', N'24:00', NULL, N'TSL0001')
INSERT [dbo].[TimeSlotPlayList] ([TimeSlotPlayListID], [TimeSlotDetailID], [PlayList_PlayListID], [ScheduleDetail_ScheduleDetailID]) VALUES (7, 1, N'PLY001', 2)
INSERT [dbo].[TimeSlotPlayList] ([TimeSlotPlayListID], [TimeSlotDetailID], [PlayList_PlayListID], [ScheduleDetail_ScheduleDetailID]) VALUES (8, 2, N'PLY002', 3)
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-44c90148-4973-41f6-8077-be4a61a4ed68]    Script Date: 18/7/2019 1:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-44c90148-4973-41f6-8077-be4a61a4ed68] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-44c90148-4973-41f6-8077-be4a61a4ed68]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-44c90148-4973-41f6-8077-be4a61a4ed68] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-44c90148-4973-41f6-8077-be4a61a4ed68') > 0)   DROP SERVICE [SqlQueryNotificationService-44c90148-4973-41f6-8077-be4a61a4ed68]; if (OBJECT_ID('SqlQueryNotificationService-44c90148-4973-41f6-8077-be4a61a4ed68', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-44c90148-4973-41f6-8077-be4a61a4ed68]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-44c90148-4973-41f6-8077-be4a61a4ed68]; END COMMIT TRANSACTION; END
GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-7632ab5a-50d8-448b-9051-1ea2c7dc1f38]    Script Date: 18/7/2019 1:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-7632ab5a-50d8-448b-9051-1ea2c7dc1f38] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-7632ab5a-50d8-448b-9051-1ea2c7dc1f38]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-7632ab5a-50d8-448b-9051-1ea2c7dc1f38] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-7632ab5a-50d8-448b-9051-1ea2c7dc1f38') > 0)   DROP SERVICE [SqlQueryNotificationService-7632ab5a-50d8-448b-9051-1ea2c7dc1f38]; if (OBJECT_ID('SqlQueryNotificationService-7632ab5a-50d8-448b-9051-1ea2c7dc1f38', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-7632ab5a-50d8-448b-9051-1ea2c7dc1f38]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-7632ab5a-50d8-448b-9051-1ea2c7dc1f38]; END COMMIT TRANSACTION; END
GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-a5d1b7f3-9660-495e-8751-69f75ec453fb]    Script Date: 18/7/2019 1:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-a5d1b7f3-9660-495e-8751-69f75ec453fb] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-a5d1b7f3-9660-495e-8751-69f75ec453fb]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-a5d1b7f3-9660-495e-8751-69f75ec453fb] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-a5d1b7f3-9660-495e-8751-69f75ec453fb') > 0)   DROP SERVICE [SqlQueryNotificationService-a5d1b7f3-9660-495e-8751-69f75ec453fb]; if (OBJECT_ID('SqlQueryNotificationService-a5d1b7f3-9660-495e-8751-69f75ec453fb', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-a5d1b7f3-9660-495e-8751-69f75ec453fb]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-a5d1b7f3-9660-495e-8751-69f75ec453fb]; END COMMIT TRANSACTION; END
GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-ee206b2c-9006-4def-bda1-409ae83cd4eb]    Script Date: 18/7/2019 1:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-ee206b2c-9006-4def-bda1-409ae83cd4eb] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-ee206b2c-9006-4def-bda1-409ae83cd4eb]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-ee206b2c-9006-4def-bda1-409ae83cd4eb] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-ee206b2c-9006-4def-bda1-409ae83cd4eb') > 0)   DROP SERVICE [SqlQueryNotificationService-ee206b2c-9006-4def-bda1-409ae83cd4eb]; if (OBJECT_ID('SqlQueryNotificationService-ee206b2c-9006-4def-bda1-409ae83cd4eb', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-ee206b2c-9006-4def-bda1-409ae83cd4eb]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-ee206b2c-9006-4def-bda1-409ae83cd4eb]; END COMMIT TRANSACTION; END
GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-ef469fd4-3e20-4cb0-9bfc-8c3a8f476d01]    Script Date: 18/7/2019 1:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-ef469fd4-3e20-4cb0-9bfc-8c3a8f476d01] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-ef469fd4-3e20-4cb0-9bfc-8c3a8f476d01]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-ef469fd4-3e20-4cb0-9bfc-8c3a8f476d01] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-ef469fd4-3e20-4cb0-9bfc-8c3a8f476d01') > 0)   DROP SERVICE [SqlQueryNotificationService-ef469fd4-3e20-4cb0-9bfc-8c3a8f476d01]; if (OBJECT_ID('SqlQueryNotificationService-ef469fd4-3e20-4cb0-9bfc-8c3a8f476d01', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-ef469fd4-3e20-4cb0-9bfc-8c3a8f476d01]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-ef469fd4-3e20-4cb0-9bfc-8c3a8f476d01]; END COMMIT TRANSACTION; END
GO
USE [master]
GO
