
@{
    ViewBag.Title = "Index";
    
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>STISDemoLayout</title>
    <meta name="generator" content="Google Web Designer 5.0.1.1129">
    <style type="text/css" id="gwd-text-style">
        p {
            margin: 0px;
        }

        h1 {
            margin: 0px;
        }

        h2 {
            margin: 0px;
        }

        h3 {
            margin: 0px;
        }
    </style>
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
            margin: 0px;
            font-family: LTA-Identity;
            font-size: 2em;
            color: white;
        }

        body {
            background-color: black;
            transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform-style: preserve-3d;
        }

        .tableheaderstyle {
            width: 100%;
            height: 8%;
        }

        .tableatsstyle {
            width: 100%;
            height: 92%;
        }

        td {
            padding: 0px;
            border: 2px solid white;
        }

        .container {
            position: relative;
            width: 100%;
            height: 100%;
            vertical-align: middle;
        }

        .divhorizontal {
            display: inline-block;
            *display: inline;
        }

        div.stationbutton {
            background-image: url('../Content/Images/brown_button.png');
            width: 175px;
            height: 95px;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
            text-align: center;
        }

        .tableatsstyleright {
            width: 100%;
            height: 90%;
            border: 0px;
        }

            .tableatsstyleright td {
                border: 0px;
            }

        .smallfont {
            font-family: LTA-Identity;
            font-size: 0.7em;
            display: inline-block;
            *display: inline;
            vertical-align: top;
        }

        .bigfont {
            font-family: LTA-Identity;
            font-size: 3.5em;
            display: inline-block;
            *display: inline;
            vertical-align: top;
        }

        .divhorizontalright {
            /*display: inline-block;*/
            font-family: LTA-Identity;
            font-size: 0.5em;
        }

        div.smalllinespace {
            line-height: 0.8;
        }
    </style>
    @{
        var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
        var PidPlayList = jss.Serialize(ViewBag.PidPlayList);
    }
    <script language="javascript">
        var PidPlayList;
        var PlayedContent;
        var IsPlayingMediaCurrently = false;
        var pictureTimeOut;
        function formatAMPM() {
            var date = new Date();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            //            var strTime = hours + ':' + minutes + ' ' + ampm;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return strTime;
        }
        function ShowDateTime() {
            $('#datetimediv').text(formatAMPM());
            setTimeout(ShowDateTime, 1000);
        }
        function PlayNoMedia() {
            if (!IsPlayingMediaCurrently) {
                $('#tablevideo').hide();
                $('#tableats').show();
            }
        }

        function PlayMedia() {
            for (i = 0; i < PidPlayList.Data.PIDPlayListInfoDetail.length; i++) {
                var pidPlayListInfoDtl = PidPlayList.Data.PIDPlayListInfoDetail[i];
                if (IsBetweenSpecifiedDate(pidPlayListInfoDtl.ActualStartTime, pidPlayListInfoDtl.ActualEndTime)) {
                    if (PlayedContent!=null&&PlayedContent.indexOf(pidPlayListInfoDtl.Sequence) != -1)
                     {
                         break;
                     }
                    else
                    {
                        if (!IsPlayingMediaCurrently) {
                            if (pidPlayListInfoDtl.PlayMedia.MediaType == 2) {
                                PlayVideo(pidPlayListInfoDtl.PlayMedia.FilePath);
                                break;
                            } else if (pidPlayListInfoDtl.PlayMedia.MediaType == 1) {
                                PlayPicture(pidPlayListInfoDtl.PlayMedia.FilePath);
                                break;
                            }
                        }
                    }
                }
            }
            if (PidPlayList.Data.PIDPlayListInfoDetail.length <= 0)
                PlayNoMedia();
        }
        function IsBetweenSpecifiedDate(inputStr1, inputStr2) {
            var now = new Date();
            var input = new Date();
            var input2 = new Date();
            var tm1 = inputStr1.split(':');
            var tm2 = inputStr2.split(':');
            input.setHours(tm1[0]);
            input.setMinutes(tm1[1]);
            input2.setHours(tm2[0]);
            input2.setMinutes(tm2[1]);
            if (now >= input && now <= input2)
                return true;
            return false;
        }
        function PlayVideo(path) {
            $('#tablevideo').show();
            $('#videoPlayerDiv').show();
            $('#tableats').hide();
            videoPlayer.src = '~/content/videos/' + path;
            IsPlayingMediaCurrently = true;
            videoPlayer.onended = function () {
                //videoPlayer.stop();
                IsPlayingMediaCurrently = false;
                $('#videoPlayerDiv').hide();
                PidPlayList.Data.PIDPlayListInfoDetail.shift();
                console.log(PidPlayList.Data.PIDPlayListInfoDetail);
                if (PidPlayList.Data.PIDPlayListInfoDetail.length > 0) {
                    var pidPlayListInfoDtl = PidPlayList.Data.PIDPlayListInfoDetail[0];
                    LoadNext(pidPlayListInfoDtl);
                } else {
                    PlayNoMedia();
                }
            };
            var thePromise = videoPlayer.play();

            if (thePromise != undefined) {

                thePromise.then(function (_) {

                    //videoPlayer.pause();
                    videoPlayer.currentTime = 0;

                });

            }
            //setTimeout(PlayVideo, 60000);
        }
        function LoadNext(pidPlayListInfoDtl) {

                if (IsBetweenSpecifiedDate(pidPlayListInfoDtl.ActualStartTime, pidPlayListInfoDtl.ActualEndTime)) {
                    if (PlayedContent != null && PlayedContent.indexOf(pidPlayListInfoDtl.Sequence) != -1) {
                    } else
                    {
                        if (!IsPlayingMediaCurrently) {
                            if (pidPlayListInfoDtl.PlayMedia.MediaType == 2) {
                                PlayVideo(pidPlayListInfoDtl.PlayMedia.FilePath);
                            }
                            if (pidPlayListInfoDtl.PlayMedia.MediaType == 1) {
                                PlayPicture(pidPlayListInfoDtl.PlayMedia.FilePath, pidPlayListInfoDtl.PlayMedia.Duration);
                            }
                        }
                    }
                }

        }
        function PlayPicture(path, duration) {
            $('#videoPlayerDiv').hide();
            $('#picturePlayerDiv').show();
            //picturePlayer.src = path;
            IsPlayingMediaCurrently = true;
            picturePlayer.src = '~/content/images/' + path;
            
            //if (path != 'PIC00000020.gif') {
                pictureTimeOut = setTimeout(HidePicture, duration * 1000);
            //}
        }
        function LoadNextContent() {
            IsPlayingMediaCurrently = false;            
            if (PidPlayList.Data.PIDPlayListInfoDetail.length > 0) {
                var pidPlayListInfoDtl = PidPlayList.Data.PIDPlayListInfoDetail[0];
                LoadNext(pidPlayListInfoDtl);
            } else {
                PlayNoMedia();
            }
        }
        function HidePicture() {
            if (IsPlayingMediaCurrently) {
                $('#picturePlayerDiv').hide();
                //$('#tablevideo').hide();
                clearTimeout(pictureTimeOut);
                PidPlayList.Data.PIDPlayListInfoDetail.shift();
                LoadNextContent();
            }
            //$('#tableats').show();
            
            
        }
        function LoadContent() {
            //use Json.parse to convert string to Json
            PidPlayList = JSON.parse('@Html.Raw(PidPlayList)');
        }
        
        function Initialize() {
            ShowDateTime();
            LoadContent();
            PlayNoMedia();
            PlayMedia();
            //ListenToATS();
            setTimeout(PlayMedia, 5000);
            document.body.style.overflow = 'hidden';
        }

    </script>


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        var signalRHubInitialized = false;
        var statement = '';
        //$(function () {
        InitializeSignalRHubStore();
        //});

        function InitializeSignalRHubStore() {



            try {
                var clientHub = $.connection.aTSHub;
                clientHub.client.getatsinfo = function (message) {
                    var str = message.split(';');
                    var line1 = str[0].split(':')[1].split(',');
                    var line2 = str[1].split(':')[1].split(',');
                    $('#arrtime1').text(line1[0]);
                    $('#deptime1').text(line1[1]);
                    $('#arrtime2').text(line2[0]);
                    $('#deptime2').text(line2[1]);
                    $('#arrtimev1').text(line1[0]);
                    $('#deptimev1').text(line1[1]);
                };
                clientHub.client.getmessage = function (message) {
                    
                    $('#message').text(message);
                    
                };
                $.connection.hub.disconnected(function () {
                    if ($.connection.hub.lastError) { alert("Disconnected. Reason: " + $.connection.hub.lastError.message); }
                    setTimeout(function () {
                        $.connection.hub.start();
                    }, 5000); // Restart connection after 5 seconds.
                });
                $.connection.hub.start().done(function () {

                    //clientHub.server.initialize($("#NotifierEntity").val());
                    //clientHub.server.initialize(statement);
                    signalRHubInitialized = true;
                });

            } catch (err) {
                //alert(err);
                //signalRHubInitialized = false;
            }
        };



    </script>
</head>

<body class="htmlNoPages" onload="Initialize()">
    <table class="tableheaderstyle" cellpadding="0" cellspacing="0">
        <tr>
            <td width="28%">&nbsp;<div class="divhorizontal">Platform C</div></td>
            <td width="50%"><marquee style="width:100%"><text id="message">Message Placeholder</text></marquee></td>
            <td width="22%">&nbsp;<div id="datetimediv" class="divhorizontal"></div></td>
        </tr>
    </table>
    <table id="tableats" class="tableatsstyle" cellpadding="0" cellspacing="0" style="display:none">
        <tr>
            <td width="100%" height="50%">
                <br />
                <div class="container">
                    <div class="divhorizontal">
                        &nbsp;&nbsp; A
                    </div>
                    <div class="divhorizontal stationbutton">
                        TE03
                    </div>
                    <div class="divhorizontal">
                        Gardens by the Bay
                    </div>
                    <div id="spacer1" class="divhorizontal">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="divhorizontal">
                        <text id="arrtime1"></text><sub>mins</sub>                        
                    </div>
                    <div id="spacer2" class="divhorizontal">
                        &nbsp;
                    </div>
                    <div class="divhorizontal">
                        <text id="deptime1"></text><sub>mins</sub>                        
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td width="100%" height="50%">
                <br />
                <div class="container">
                    <div class="divhorizontal">
                        &nbsp;&nbsp; B
                    </div>
                    <div class="divhorizontal stationbutton">
                        TE03
                    </div>
                    <div class="divhorizontal">
                        Gardens by the Bay
                    </div>
                    <div id="spacer1" class="divhorizontal">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="divhorizontal">
                        <text id="arrtime2"></text><sub>mins</sub>
                    </div>
                    <div id="spacer2" class="divhorizontal">
                        &nbsp;
                    </div>
                    <div class="divhorizontal">
                        <text id="deptime2"></text><sub>mins</sub>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <table id="tablevideo" class="tableatsstyleright" cellpadding="0" cellspacing="0" style="display:none">
        <tbody>
            <tr>
                <td width="65%" rowspan="2" valign="top">
                    <div id="videoPlayerDiv" style="box-sizing: border-box;position:relative;z-index:1000;top:0">
                        <video id="videoPlayer" muted="muted" width="100%" height="100%" autoplay preload="none">
                            
                        </video>
                    </div>
                    <div id="picturePlayerDiv" style="box-sizing: border-box;position:relative;z-index:1000;display:none" width="inherit" height="100%">
                        <img id="picturePlayer" />
                    </div>
                </td>
                <td width="35%" height="100%" valign="top">
                   
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="100%" height="50%" valign="top">
                                &nbsp;
                                <table>
                                    <tr>
                                        <td width="40%" valign="top">
                                            <div class="divhorizontal stationbutton">
                                                TE03
                                            </div><br />
                                            <div class="smallfont">
                                                Gardens<br /> by the Bay
                                            </div>
                                        </td>
                                        <td width="20%" valign="top">
                                            &nbsp;
                                        </td>
                                        <td width="40%" valign="top">
                                            <div class="smalllinespace">
                                                <p id="arrtimev1" class="bigfont">0</p><br />
                                                <p class="smallfont">mins</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <hr width="100%" color="white" size="2px" style="color:white" />
                            </td>
                        </tr>

                        <tr>
                            <td width="100%" height="50%"  valign="top">
                                &nbsp;
                                <table>
                                    <tr>
                                        <td width="40%" valign="top">
                                            <div class="divhorizontal stationbutton">
                                                TE03
                                            </div><br />
                                            <div class="smallfont">
                                                Gardens<br /> by the Bay
                                            </div>
                                        </td>
                                        <td width="20%" valign="top">
                                            &nbsp;
                                        </td>
                                        <td width="40%" valign="top">
                                            <div class="smalllinespace">
                                                <p id="deptimev1" class="bigfont">0</p><br />
                                                <p class="smallfont">mins</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>

    
</body>

</html>
